<div class="top-wrapper">
    <h1>Welcome to Tweet App!</h1>
    <div class="section-wrapper1">
        <img class="image1" src="/images/top_image3.svg">
        <div>
            <h2>みんなに自分のつぶやきを届けよう！！</h2>
            <p>あなたの投稿を発信しよう！今の気持ちをつぶやこう！</p>
        </div>
        
    </div>
    
    <div class="section-wrapper2">
        <div>
            <h2>Tweet App とは？</h2>
            <p>TweetAppは、自分の気持ちを発信することができるwebアプリです。TweetAppにはつぶやきの投稿機能はもちろんのこと、いいね機能やコメント機能もあります。みんなで楽しもう！</p>
        </div>
        <img class="image2" src="/images/top_image4.svg">
    </div>

    <div class="text-box">
        <h1>さあ、はじめよう！</h1>
        <div class="login-wrap">
            <%= link_to("ログインする","") %>
        </div>
    </div>

</div>
