<div class="form-wrapper">
    <div class="form-items"> 
        <%= form_tag("/posts/#{@post.id}/update") do %> 
            <div class="form-group">
                <label for="exampleFormControlTextarea1" class="form-label">投稿内容を編集できます</label>
                <textarea class="form-control" rows="7" name="content" type="text"><%= @post.content %></textarea>
                <small class="form-text text-muted textHelp">400字以内で記入してください</small>
                <input type="submit" class="btn btn-primary" value="編集内容を投稿する">
            </div>
        <% end %>
    </div>
</div>