<div class="list-wrapper">
    <ul class="item-wrapper">
        <% @posts.each do |post| %>
            <li class="list-item">
                <div class="card ">
                    <div class="card-body">
                        <div class="user-content">
                            <img src="/images/top_image1.png" class="user-image">
                            <h5 class="card-title">テストname</h5>
                        </div>
                        <p class="card-text"><%= post.content %></p>
                    </div>
                </div>
            </li>
        <% end %>
    </ul>
</div>