.sign-up-title{
    text-align:center;
    margin-top:50px;
}

.form-group{
    width:60%;
    margin:0 auto;

    .btn{
        margin:15px 0;
    }
    
}
.login-link{
    color:gray;
    opacity:.7;
    margin-left:20%;
}
.login-link:hover{
    opacity:1;
}