// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.list-wrapper{
    
    .item-wrapper{
        padding-top:60px;
        margin:0 auto;
        width:40%;
        .list-item{
            box-shadow: 0 2px 6px #c1ced7;
        }
        .user-content{
            display:flex;
            height:40px;
            margin-bottom:15px;
            .user-image{
                height:40px;
                width:40px;
                line-height:40px;
                border:1px solid gray;
                border-radius:50%;
                margin-right:15px;
            }
            .card-title{
                line-height:40px;
            }
        }
    }
}



